:root {
	--cor-primaria: #fff;
	--cor-secundaria: #555;
	--cor-tercearia: #daa520;
	--font-geral: 'Open Sans', sans-serif;
	--font-titulos: 'Poppins', sans-serif;
}

body.carregando {
	opacity: 0;
}

body {
	transition: .5s;
	opacity: 1;
}

* {
	padding: 0;
	margin: 0;
	list-style: none;
	border: none;
	box-sizing: border-box;
	text-decoration: none;
	color: var(--cor-secundaria);
}

p, a, li {
	font-family: var(--font-geral);
}

main {
	position: relative;
	overflow-x: hidden;
}

.bg-menu-aberto {
	content: '';
	position: absolute;
	top: 0;
	height: 0;
	right: 0;
	left: 0;
	background-color: rgba(0, 0, 0, .8);
	z-index: 10;
	height: 100%;
	transition: .5s;
	opacity: 0;
	visibility: hidden;
}

.bg-menu-aberto.active {
	opacity: 11;
	visibility: visible;
}

.container {
	padding-left: 20px;
	padding-right: 20px;
	width: 100%;
	margin: 0 auto;
}

.header {
	position: relative;
	z-index: 12;
}

.nav {
	width: 60px;
	border-radius: 35px;
	height: 60px;
	transition: height .5s;
	background-color: #333;
	border: 1px solid rgba(255, 255, 255, .1);
	position: fixed;
	top: 20px;
	left: 20px;
}

.nav.active {
	height: 278px;
}

.nav .btn-menu {
	display: flex;
	width: 60px;
	height: 60px;
	border-radius: 50%;
}

.nav .btn-menu i {
	margin: auto;
	color: var(--cor-primaria);
}

.nav .btn-menu .close {
	font-size: 20px;
}

.nav .btn-menu .open, .nav.active .btn-menu .close {
	display: flex;
}

.nav.active .btn-menu .open, .nav .btn-menu .close {
	display: none;
}

.logo {
	display: none;
	letter-spacing: 1px;
	font-family: 'Cinzel', serif;
	text-align: center;
}

.logo .logo-titulo, .logo .logo-nome {
	display: block;
}

.logo .logo-titulo {
	font-size: 19px;
	color: var(--cor-primaria);
}

.logo .logo-nome {
	font-size: 14px;
	color: var(--cor-tercearia);
}

.menu {
	height: 0;
	width: 170px;
	transition: .5s;
	overflow: hidden;
	border-radius: 0 0 0 25px;
}

.nav.active .menu {
	height: 216px;
}

.menu .menu-link {
	display: block;	
	width: 100%;
	padding: 15px 0;
	position: relative;
}

.menu .menu-link:after {
	content: '';
	position: absolute;
	width: 0px;
	background-color: transparent;
	top: 50%;
	height: 20px;
	transform: translateY(-50%);
	left: 60px;
	transition: .1s;
	transition-delay: .3s;
}

.nav.active .menu .menu-link.active:after {
	background-color: var(--cor-tercearia);
	width: 3px;
	left: 56px;
}

.menu .menu-link i {
	font-size: 14px;
	margin-left: 23px;
	margin-right: 20px;
}

.menu .menu-link .fa-user {
	margin-left: 25px;
	margin-right: 22px;
}

.menu .menu-link span {
	margin-left: 10px;
	text-transform: uppercase;
	position: relative;
	font-size: 15px;
	font-weight: 500;
	left: 0;
}

.menu .menu-link:hover span {
	left: 5px;
}

.menu .menu-link span, .menu .menu-link i {
	color: var(--cor-primaria);
	transition: .3s;
}

.menu .menu-link:hover span, .menu .menu-link:hover i {
	color: var(--cor-tercearia);
}

.menu .menu-link.active span, .menu .menu-link.active i {
	color: var(--cor-tercearia);
}

.bg-principal {
	background-color: var(--cor-primaria);
}

.cor-destaque {
	color: var(--cor-tercearia);
}

.titulo-principal, .titulo-secundario {
	color: var(--cor-secundaria);
	text-transform: uppercase;
	font-family: var(--font-titulos);
}

.titulo-principal {
	font-size: 45px;
	font-weight: 900;
	margin-bottom: 50px;
}

.titulo-secundario {
	font-size: 20px;
	margin-bottom: 15px;
}

.text-center {
	text-align: center;
}

.paragrafo  {
	font-size: 16px;
	font-weight: 300;
	letter-spacing: 1px;
	line-height: 28px;
	margin-bottom: 5px;
}

.btn-link {
	color: var(--cor-primaria);
	display: inline-block;
	position: relative;
	transition: .3s;
}

.btn-link:after {
	position: absolute;
	content: '';
	height: 1px;
	width: 0;
	background-color: var(--cor-tercearia);
	bottom: 0;
	left: 0;
	transition: .3s;
}

.btn-link:hover:after {
	width: 100%;
}

.btn-link:hover {
	color: var(--cor-tercearia);
}

.btn {
	padding: 10px 25px;
	border-radius: 20px;
	cursor: pointer;
	margin: 0 auto;
	text-transform: uppercase;
	display: flex;
	transition: .3s;
}

.btn:hover {
	box-shadow: 0 5px 10px rgba(0, 0, 0, .3);
}

.btn-primario {
	color: var(--cor-secundaria);
	background-color: transparent;
	border: 1px solid var(--cor-secundaria);
}

.btn-primario:hover {
	color: var(--cor-primaria);
	background-color: var(--cor-secundaria);
}

.btn-secundario {
	color: var(--cor-primaria);
	background-color: transparent;
	border: 1px solid var(--cor-primaria);
}

.btn-secundario:hover {
	color: var(--cor-tercearia);
	border: 1px solid var(--cor-tercearia);
}

.btn-terceario {
	color: var(--cor-primaria);
	background-color: var(--cor-tercearia);
	border: 1px solid var(--cor-tercearia);
}

.btn-terceario:hover {
	color: var(--cor-tercearia);
	border: 1px solid var(--cor-tercearia);
	background-color: transparent;
}

.flex {
	display: flex;
}

.grid {
	display: grid;
	grid-row-gap: 40px;
}

.sobre, .portfolio, .contato {
	padding: 70px 0;
}

.home {
	min-height: 500px;
	height: 100vh;
	position: relative;
	display: flex;
}

.home:after {
	content: '';
	position: absolute;
	background-color: rgba(0, 0, 0, .7);
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 2;
}

.bg-home {
	position: absolute;
	z-index: 1;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
}

.bg-home img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	display: flex;
}

.home .container {
	display: flex;
}

.home .textos {
	margin: auto;
	position: relative;
	z-index: 3;
	text-align: center;
}

.home .titulo-principal {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	letter-spacing: 1px;
	font-weight: 700;
	color: var(--cor-primaria);
	font-size: 40px;
	line-height: 50px;
	margin: 10px 0;
}

.home .cor-destaque {
	margin: 0 10px;
}

.home .hello {
	font-family: 'Roboto Mono', monospace;
	color: var(--cor-primaria);
	font-size: 22px;
	height: 28px;
	position: relative;
}

.home .hello:after {
	position: absolute;
	content: '|';
	top: -1px;
 	opacity: 1;
 	animation: barraEscrever .7s infinite;
}

@keyframes barraEscrever {
	0%, 100% {
		opacity: 1;
	}

	50% {
		opacity: 0;
	}
}

.home .paragrafo {
	color: var(--cor-primaria);
	margin-bottom: 20px;
	font-size: 17px;
}

.home-btns {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.home .btn {
	padding: 8px 25px;
	margin: 0 5px 10px;
}

.sobre {
	display: flex;
}

.sobre .imagem {
	display: flex;
	position: relative;
}

.sobre .imagem img {
	width: 100%;
	max-width: 250px;
	border-radius: 50%;
	margin: 0 auto;
	display: flex;
}

.sobre .skills .titulo-secundario {
	margin-bottom: 5px;
}

.sobre .skills ul {
	display: flex;
	flex-wrap: wrap;
}

.sobre .skills li {
	display: flex;
	width: 60px;
	height: 60px;
	margin: 10px 20px 10px 0;
	justify-content: center;
	align-items: center;
	border-radius: 7px;
	position: relative;
	box-shadow: 0 5px 10px rgba(0, 0, 0, .3);
	border: 1px solid rgba(0, 0, 0, .25);
}

.sobre .skills li i {
	font-size: 30px;
}

.sobre .skills li span {
	position: absolute;
	font-size: 12px;
	top: 70px;
	padding: 5px 10px;
	min-width: 70px;
	width: auto;
	border-radius: 3px;
	background-color: #333;
	color: var(--cor-primaria);
	z-index: 3;
	text-align: center;
	opacity: 0;
	visibility: hidden;
	transition: .3s;
}

.sobre .skills li:hover span {
	top: 65px;
	opacity: 1;
	visibility: visible;
}

.sobre .skills li span:after {
	content: '';
	position: absolute;
	border-top: 7px solid #333;
    border-right: 7px solid transparent;
	top: -3px;
	left: 50%;
	transform: translateX(-50%) rotate(45deg);
}

.sobre .skills .fa-html5 {
	color: #f75421;
}

.sobre .skills .fa-css3-alt {
	color: #016db4;
}

.sobre .skills .fa-js {
	color: #f7c427;
}

.sobre .skills .fa-bootstrap {
	color: #7510f1;
}

.sobre .skills .fa-react {
	color: #00d1f7;
}

.sobre .skills .fa-git-alt {
	color: #e94e31;
}

.sobre .skills .coracao-icon {
	font-size: 18px;
}

.sobre .skills .icon-typescript {
	width: 30px;
}

.sobre .skills .fa-sass {
	color: #cf649a;
}

.sobre .educacao .card {
	padding: 30px 20px;
	box-shadow: 0 5px 10px rgba(0, 0, 0, .3);
	border: 1px solid rgba(0, 0, 0, .25);
}

.sobre .educacao .card h5 {
	font-size: 20px;
	font-family: var(--font-titulos);
	margin-bottom: 5px;
}

.sobre .educacao .card p {
	font-size: 14px;
}

.portfolio .projetos {
	display: grid;
	grid-template-columns: auto;
	grid-row-gap: 30px;
	margin-bottom: 50px;
	grid-column-gap: 30px;
}

.portfolio .projetos .projetos-item {
	display: flex;
}

.portfolio .projetos .projetos-item.invisivel {
	display: none;
}

.portfolio .projetos .projetos-link {
	position: relative;
	display: flex;
	margin: auto;
	width: 100%;
	border-radius: 7px;
	overflow: hidden;
	box-shadow: 0 5px 10px rgba(0, 0, 0, .3), 0 -1px 10px rgba(0, 0, 0, .3);
	max-width: 440px;
}

.portfolio .projetos .projetos-link .projetos-img {
	width: 100%;
	min-height: 220px;
	height: 100%;
	object-fit: cover;
}

.portfolio .projetos-link .descricao {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-color: var(--cor-tercearia);
	visibility: hidden;
	opacity: 0;
	display: flex;
	transition: .2s;
}

.portfolio .projetos-link:hover .descricao {	
	visibility: visible;
	opacity: 1;
}

.portfolio .projetos-link .descricao span {
	color: var(--cor-primaria);
	text-transform: uppercase;
	font-size: 17px;
	margin: auto;
}

.contato {
	height: 100vh;
	min-height: 600px;
}

.contato .meus-contatos {
	padding-left: 20px;
}

.contato-flex {
	display: flex;
}

.contato .contatos-principais li + li {
	margin-top: 25px;
}

.contato .contatos-principais h5 {
	color: #9b9b9b;
	font-size: 16px;
	font-weight: 400;
	margin-bottom: 10px;
}

.contato .contatos-principais p, .contato .contatos-principais .btn-link {
	color: var(--cor-secundaria);
	font-size: 17px;
	font-weight: 300;
}

.contato .contatos-principais i {
	font-size: 16px;
	margin-right: 10px;
}

.fa-linkedin-in {
	color: #0073b1;
}

.fa-github {
	color: #1a1d22;
}

.fa-instagram {
	color: #c02aa0;
}

.contato .redes-sociais {
	display: flex;
	flex-wrap: wrap;
	margin-top: 40px;
}

.contato .redes-sociais li {
	margin: 10px 20px 10px 0;
}

.contato .redes-sociais a {
	border: 1px solid rgba(0, 0, 0, .25);
	display: flex;
	width: 60px;
	height: 60px;
	justify-content: center;
	align-items: center;
	border-radius: 7px;
	transition: .3s;
	font-size: 30px;
	box-shadow: 0 5px 10px rgba(0, 0, 0, .3);
}

.contato .redes-sociais a:hover {
	transform: translateY(-3px);
	box-shadow: 0 10px 15px rgba(0, 0, 0, .3);
}

.contato .imagem {
	display: none;
	overflow: hidden;
}

.contato .imagem img {
	width: 320px;
}

.page {
	position: relative;
	z-index: -1;
	display: none;
}

.page.active {
	z-index: 1;
	display: flex;
	animation: .2s entradaPage;
}

@keyframes entradaPage {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

.page.active.inicial {
	animation-duration: 0s;
}

@media (min-width: 576px) {
	.container {
		max-width: 546px;
	}

	.titulo-principal {
		font-size: 52px;
	}

	.home .titulo-principal {
		font-size: 50px;
		line-height: 60px;
		margin: 15px 0;
	}

	.home .paragrafo {
		font-size: 19px;
		margin-bottom: 25px;
	}

	.home .hello {
		font-size: 25px;
		height: 31px;
	}

	.sobre .skills li span {
		padding: 7px 15px;
	}

	.sobre .educacao .card h5 {
		font-size: 24px;
	}

	.sobre .educacao .card p {
		font-size: 15px;
	}
}

@media (min-width: 768px) { 
	.container {
		max-width: 756px;
	}

	.titulo-principal {
		font-size: 60px;
	}

	.home .titulo-principal {
		font-size: 55px;
		line-height: 60px;
		margin: 20px 0;
	}

	.home .paragrafo {
		font-size: 20px;
		margin-bottom: 30px;
	}

	.home .hello {
		font-size: 28px;
		height: 35px;
	}

	.sobre .skills li span {
		font-size: 13px;
	}

	.sobre .imagem img {
		max-width: 300px;
	}

	.portfolio .projetos {
		grid-template-columns: repeat(2, 1fr);
	}

	.portfolio .projetos .projetos-link {
		max-width: 100%;
	}

	.contato-flex {
		justify-content: space-around;
	}

	.contato .imagem {
		display: block;
	}
}

@media (min-width: 992px) {
	.container {
		max-width: 962px;
	}

	.header {
		position: fixed;
		z-index: 12;
		left: 0;
		right: 0;
		padding: 0;
		height: 70px;
		display: flex;
		align-items: center;
		border-bottom: 1px solid rgba(255, 255, 255, .1);
		background-color: #333;
	}

	.header.bg-transparent {
		background-color: rgba(0, 0, 0, .3);
	}

	.nav {
		position: static;
		width: 100%;
		height: auto;
		border: none;
		display: flex;
		align-items: center;
		justify-content: space-between;
		background-color: transparent;
	}

	.nav .btn-menu {
		display: none;
	}

	.logo {
		display: block;
	}

	.menu .menu-link i {
		display: none;
	}

	.menu {
		height: auto;
		display: flex;
		width: auto;
		border-radius: 0;
	}

	.menu .menu-link {
		padding: 15px 20px;
	}

	.menu .menu-link span {
		margin-left: 0;
		font-size: 14px;
		font-weight: 400;
		transition: 0s;
	}

	.menu .menu-link:hover span {
		left: 0;
	}

	.titulo-principal {
		font-size: 70px;
		margin-bottom: 70px;
	}

	.sobre, .portfolio, .contato {
		padding: 140px 0 70px;
	}

	.home .textos {
		top: 35px;
	}

	.home .titulo-principal {
		font-size: 60px;
	}

	.home .hello {
		font-size: 32px;
		height: 39px;
	}

	.contato {
		height: auto;
		min-height: auto;
	}

	.contato .imagem img {
		width: 420px;
		position: relative;
		top: -40px;
		margin-bottom: -80px;
	}
}

@media (min-width: 1200px) {
	.container {
		max-width: 1170px;
	}

	.titulo-principal {
		font-size: 75px;
	}

	.portfolio .projetos {
		grid-template-columns: repeat(3, 1fr);
	}
}